.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px 100px 20px 100px
}

.input-container {
    height: 30px;
}

.button {
    margin: 20px;
}

